_site_old/assets/blog20140430_wso2_mtom/MTOMSwASampleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://services.samples"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://services.samples">
   <wsdl:documentation>MTOMSwASampleService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://services.samples">
         <xs:element name="MTOMSwASampleServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0"
                              name="MTOMSwASampleServiceException"
                              nillable="true"
                              type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="uploadFileUsingMTOM">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadFileUsingMTOMResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadFileUsingSwA">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="uploadFileUsingSwAResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="oneWayUploadUsingMTOM">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <!-- *** chilcano -->
         <xs:element name="oneWayUploadUsingHTTP">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="element" nillable="true" type="xs:anyType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>

   <wsdl:message name="uploadFileUsingSwARequest">
      <wsdl:part name="parameters" element="ns:uploadFileUsingSwA"/>
   </wsdl:message>
   <wsdl:message name="uploadFileUsingSwAResponse">
      <wsdl:part name="parameters" element="ns:uploadFileUsingSwAResponse"/>
   </wsdl:message>
   <wsdl:message name="MTOMSwASampleServiceException">
      <wsdl:part name="parameters" element="ns:MTOMSwASampleServiceException"/>
   </wsdl:message>
   <wsdl:message name="uploadFileUsingMTOMRequest">
      <wsdl:part name="parameters" element="ns:uploadFileUsingMTOM"/>
   </wsdl:message>
   <wsdl:message name="uploadFileUsingMTOMResponse">
      <wsdl:part name="parameters" element="ns:uploadFileUsingMTOMResponse"/>
   </wsdl:message>
   <wsdl:message name="oneWayUploadUsingMTOMRequest">
      <wsdl:part name="parameters" element="ns:oneWayUploadUsingMTOM"/>
   </wsdl:message>
   <!-- *** chilcano -->
   <wsdl:message name="oneWayUploadUsingHTTPRequest">
      <wsdl:part name="parameters" element="ns:oneWayUploadUsingHTTP"/>
   </wsdl:message>

   <wsdl:portType name="MTOMSwASampleServicePortType">
      <wsdl:operation name="uploadFileUsingSwA">
         <wsdl:input message="ns:uploadFileUsingSwARequest" wsaw:Action="urn:uploadFileUsingSwA"/>
         <wsdl:output message="ns:uploadFileUsingSwAResponse" wsaw:Action="urn:uploadFileUsingSwAResponse"/>
         <wsdl:fault message="ns:MTOMSwASampleServiceException" name="MTOMSwASampleServiceException" wsaw:Action="urn:uploadFileUsingSwAMTOMSwASampleServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="uploadFileUsingMTOM">
         <wsdl:input message="ns:uploadFileUsingMTOMRequest" wsaw:Action="urn:uploadFileUsingMTOM"/>
         <wsdl:output message="ns:uploadFileUsingMTOMResponse" wsaw:Action="urn:uploadFileUsingMTOMResponse"/>
         <wsdl:fault message="ns:MTOMSwASampleServiceException" name="MTOMSwASampleServiceException" wsaw:Action="urn:uploadFileUsingMTOMMTOMSwASampleServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="oneWayUploadUsingMTOM">
         <wsdl:input message="ns:oneWayUploadUsingMTOMRequest" wsaw:Action="urn:oneWayUploadUsingMTOM"/>
         <wsdl:fault message="ns:MTOMSwASampleServiceException" name="MTOMSwASampleServiceException" wsaw:Action="urn:oneWayUploadUsingMTOMMTOMSwASampleServiceException"/>
      </wsdl:operation>
      <!-- *** chilcano -->
      <wsdl:operation name="oneWayUploadUsingHTTP">
         <wsdl:input message="ns:oneWayUploadUsingHTTPRequest" wsaw:Action="urn:oneWayUploadUsingHTTP"/>
         <wsdl:fault message="ns:MTOMSwASampleServiceException" name="MTOMSwASampleServiceException" wsaw:Action="urn:oneWayUploadUsingHTTPMTOMSwASampleServiceException"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="MTOMSwASampleServiceSoap11Binding" type="ns:MTOMSwASampleServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="uploadFileUsingSwA">
         <soap:operation soapAction="urn:uploadFileUsingSwA" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="uploadFileUsingMTOM">
         <soap:operation soapAction="urn:uploadFileUsingMTOM" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="oneWayUploadUsingMTOM">
         <soap:operation soapAction="urn:oneWayUploadUsingMTOM" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <!-- *** chilcano -->
      <wsdl:operation name="oneWayUploadUsingHTTP">
         <soap:operation soapAction="urn:oneWayUploadUsingHTTP" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>      
   </wsdl:binding>

   <wsdl:binding name="MTOMSwASampleServiceSoap12Binding" type="ns:MTOMSwASampleServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="uploadFileUsingSwA">
         <soap12:operation soapAction="urn:uploadFileUsingSwA" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap12:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="uploadFileUsingMTOM">
         <soap12:operation soapAction="urn:uploadFileUsingMTOM" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap12:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="oneWayUploadUsingMTOM">
         <soap12:operation soapAction="urn:oneWayUploadUsingMTOM" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap12:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
      <!-- *** chilcano -->
      <wsdl:operation name="oneWayUploadUsingHTTP">
         <soap12:operation soapAction="urn:oneWayUploadUsingMTOM" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MTOMSwASampleServiceException">
            <soap12:fault use="literal" name="MTOMSwASampleServiceException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:binding name="MTOMSwASampleServiceHttpBinding" type="ns:MTOMSwASampleServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="uploadFileUsingSwA">
         <http:operation location="uploadFileUsingSwA"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="uploadFileUsingMTOM">
         <http:operation location="uploadFileUsingMTOM"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="oneWayUploadUsingMTOM">
         <http:operation location="oneWayUploadUsingMTOM"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <!-- *** chilcanp -->
      <wsdl:operation name="oneWayUploadUsingHTTP">
         <http:operation location="oneWayUploadUsingHTTP"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="MTOMSwASampleService">
      <wsdl:port name="MTOMSwASampleServiceHttpSoap11Endpoint" binding="ns:MTOMSwASampleServiceSoap11Binding">
         <soap:address location="http://192.168.56.1:9000/services/MTOMSwASampleService.MTOMSwASampleServiceHttpSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MTOMSwASampleServiceHttpsSoap11Endpoint" binding="ns:MTOMSwASampleServiceSoap11Binding">
         <soap:address location="https://192.168.56.1:9002/services/MTOMSwASampleService.MTOMSwASampleServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MTOMSwASampleServiceHttpSoap12Endpoint" binding="ns:MTOMSwASampleServiceSoap12Binding">
         <soap12:address location="http://192.168.56.1:9000/services/MTOMSwASampleService.MTOMSwASampleServiceHttpSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MTOMSwASampleServiceHttpsSoap12Endpoint" binding="ns:MTOMSwASampleServiceSoap12Binding">
         <soap12:address location="https://192.168.56.1:9002/services/MTOMSwASampleService.MTOMSwASampleServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MTOMSwASampleServiceHttpsEndpoint" binding="ns:MTOMSwASampleServiceHttpBinding">
         <http:address location="https://192.168.56.1:9002/services/MTOMSwASampleService.MTOMSwASampleServiceHttpsEndpoint"/>
      </wsdl:port>
      <wsdl:port name="MTOMSwASampleServiceHttpEndpoint" binding="ns:MTOMSwASampleServiceHttpBinding">
         <http:address location="http://192.168.56.1:9000/services/MTOMSwASampleService.MTOMSwASampleServiceHttpEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
